node_modules
package-lock.json
yarn.lock
.DS_Store
dist
out
*.local
.idea
coverage

.env

.vite-ssg-temp

.astro

# turbo
.turbo

.idea

apps/news-app/public/feeds.xml
apps/general-legacyapp/public/feeds.xml

#apps/news-app/public/og/*.png
#apps/general-legacyapp/public/og/*.png

#!apps/news-app/public/og/top.png
#!apps/general-legacyapp/public/og/top.png
