.section {
  margin: 8px 0;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  @media (min-width: 768px) {
    flex-direction: column;
  }
}

.article {
  padding: 0 8px;
  margin: 0;
  width: calc(100% - 16px);
  @media (min-width: 768px) {
    padding: 0;
  }
}

.headline {
  background: linear-gradient(transparent 60%, yellow 30%);
  display: inline;
  font-size: 1.82rem;
  font-weight: 700;
  line-height: 2;
  @media (max-width: 600px) {
    width: 100%;
    line-height: 1.4;
  }
}

.avatar {
  padding: 4px 0 8px;
  display: flex;
  justify-content: center;
  img {
    border-radius: 50%;
  }
}

.social {
  padding: 0 0 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  svg {
    width: 24px;
    height: 24px;
  }
}
