.article-container {
  height: auto;
  padding: 64px 0;
  border-radius: 6px;
}

.article-container .body {
  text-align: left;
  padding: 12px;
  border-radius: 6px;
}

.article-container .body h2 {
  padding: .24em .48em;
  margin: 8px 0;
  border-left: solid 5px #42b883;
}

.article-container .body h3 {
  padding: .24em .48em;
  margin: 8px 0;
  border-left: solid 5px #35495e;
}

.article-container .body table {
  margin: 10px 0 15px 0;
  border-collapse: collapse;
}

.article-container .body td,
.article-container .body th {
  padding: 3px 10px;
  border: 2px solid #ccb8a3;
}

.article-container .body th {
  padding: 5px 10px;
}

.article-container .body img {
  width: 100%;
  border-radius: 0;
}

.article-container .footer-area {
  padding: 8px 0;
  margin: 2px;
  text-align: left;
}

.article-container .footer-area span {
  display: table-cell;
  vertical-align: middle;
  font-size: 16px;
  margin-left: 4px;
}

.contributor {
  text-align: right;
  padding: 4px 0;
  margin-left: -12px;
  font-size: 16px;
}

.participant_wrapper a {
  margin: 0 4px;
}

.participant_wrapper img {
  width: 32px;
}
