.content {
  padding: 8px 16px;
  max-width: 1246px;
  margin: 0 auto;
}

.grid {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto, 1fr, auto);
  padding: 8px 16px;
}

.grid {
  border-bottom: 1px solid #e6f6f5;
}

.grid a {
  color: #2c2e2f;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  vertical-align: middle;
}

.grid a:hover {
  opacity: 0.6;
}

.grid a:visited {
  color: #2c2e2f;
}

.grid .date {
  font-size: 14px;
  font-weight: normal;
  line-height: 1;
}

.grid h2 {
  margin: 0;
  text-align: left;
  font-size: 20px;
  font-weight: normal;
  line-height: 1.2;
}

.grid p {
  margin-bottom: 0;
  text-align: left;
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 16px;
  font-weight: normal;
}

.tag {
  display: inline-block;
  padding: 0 7px;
  margin-right: 4px;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  color: #2c2e2f;
  background-color: transparent;
  border: 1px solid #30363d;
  border-radius: 2em;
}

.tag a {
  color: #2c2e2f;
  text-decoration: none;
  padding: 0;
  border: none;
}

.tag a:visited {
  color: #2c2e2f;
}

.post-detail .footer-area {
  padding: 8px 0;
  margin: 2px;
  text-align: left;
}

.post-detail .footer-area span {
  display: table-cell;
  vertical-align: middle;
  font-size: 16px;
  margin-left: 4px;
}

.contributor {
  text-align: right;
  padding: 4px 0;
  margin-left: -12px;
  font-size: 16px;
}

.contributor img {
  border-radius: 40px;
}

.participant_wrapper a {
  margin: 0 4px;
}

.participant_wrapper img {
  width: 32px;
}

@media(min-width: 1024px) {
  .content {
    padding: 40px 40px;
  }

  .grid {
    padding: 8px 48px;
  }
}
