.grid {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto, 1fr, auto);
  padding: 12px 0;
}

.grid a {
  color: #2c2e2f;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  vertical-align: middle;
  border-left: 3px solid #fff;
  padding-left: 1em;
}

.grid a:visited {
  color: #2c2e2f;
}

.grid h2 {
  margin: 0;
  text-align: left;
  font-size: 1.2rem;
  font-weight: 600;
}

.grid p {
  margin-bottom: 0;
  text-align: left;
  font-size: 1rem;
  font-weight: 400;
}

.post-detail .footer-area {
  padding: 8px 0;
  margin: 2px;
  text-align: left;
}

.post-detail .footer-area span {
  display: table-cell;
  vertical-align: middle;
  font-size: 16px;
  margin-left: 4px;
}

.contributor {
  text-align: right;
  padding: 4px 0;
  margin-left: -12px;
  font-size: 16px;
}

.contributor img {
  border-radius: 40px;
}

.participant_wrapper a {
  margin: 0 4px;
}

.participant_wrapper img {
  width: 32px;
}
