.issues {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 1.25rem;
}

.issue {
  min-height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  padding: 0.5rem 0.75rem;
  margin: 0.25rem;
  background-color: #68788d;
  color: #fff;
  border-color: #2e3439;
  cursor: pointer;
  text-decoration: none;
}

.issue a {
  color: #fff;
}

.issue a:visited {
  color: #fff;
}
