.issues {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 1.25rem;
}

.issues a {
  color: #2c2e2f;
  text-decoration: none;
}

.issues a:visited {
  color: #2c2e2f;
}

.archives {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
}

.archives a {
  color: #2c2e2f;
  text-decoration: none;
}

.archives a:visited {
  color: #2c2e2f;
}

.archives h2 {
  text-align: left;
  font-size: 1.08rem;
}

.archives p {
  text-align: left;
  font-size: 0.96rem;
}

.tag {
  display: inline-block;
  padding: 0 7px;
  margin-right: 4px;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  color: #2c2e2f;
  background-color: transparent;
  border: 1px solid #30363d;
  border-radius: 2em;
}

.tag a {
  color: #2c2e2f;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  .issues a {
    color: #fefefe;
  }

  .issues a:visited {
    color: #fefefe;
  }

  .archives a {
    color: #fefefe;
  }

  .archives a:visited {
    color: #fefefe;
  }

  .tag {
    color: #fefefe;
    border: 1px solid #dedede;
  }

  .tag a {
    color: #fefefe;
  }
}
