@import 'assets/_nav.css';
@import 'assets/_calendar.css';
@import 'assets/_detail.css';
@import 'assets/_social-menu.css';
@import 'assets/_section.css';

body {
  background-color: rgba(232, 242, 255, 100%);
  color: #303030;
}

a {
  cursor: pointer;
  text-decoration: none;
}

h2,
h3 {
  width: 100%;
}

.expanded_text_multiline {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  max-width: 100%;
  padding: 20px 0;
  margin-top: 24px;
}

.footer-text {
  padding: 16px 0 8px;
  margin: auto;
  display: inline-block;
  vertical-align: middle;
}

.copyright {
  font-size: 1.8vmin;
}

.copyright a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  text-decoration: none;
}

.copyright svg {
  width: 80px;
  height: 80px;
}

.copyright a:visited {
  color: #000;
}

.copyright img {
  margin-left: 0.5rem;
}

.logo {
  height: 4em;
}

@media (max-width: 600px) {
  footer {
    min-height: 0;
    margin-top: 0;
  }
}
