@import 'assets/_nav.css';
@import 'assets/_calendar.css';
@import 'assets/_detail.css';
@import 'assets/_tags.css';
@import 'assets/_social-menu.css';

/* ダークモードを使わない場合 */
body {
  background-color: rgba(232, 242, 255, 100%) !important;
  color: #303030 !important;
}
main {
  background-color: transparent;
}
.article .post-detail h2,
.article .post-detail h3,
.article .post-detail h4,
.article .post-detail p,
.article .post-detail li,
.article .post-detail td,
.article .post-detail tr {
  color: #303030 !important;
}
blockquote.twitter-tweet {
  border-color: #eee #ddd #bbb !important;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .15) !important;
}
.article .post-detail .twitter-tweet {
  background: #fff !important;
  border: 1px solid #ccc !important;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

a {
  cursor: pointer;
  text-decoration: none;
}

h2,
h3 {
  width: 100%;
}

.expanded_text_multiline {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  max-width: 100%;
  padding: 20px 0;
  margin-top: 24px;
}

.footer-text {
  padding: 16px 0 8px;
  margin: auto;
  display: inline-block;
  vertical-align: middle;
}

.copyright {
  font-size: 1.8vmin;
}

.copyright a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  text-decoration: none;
}

.copyright svg {
  width: 80px;
  height: 80px;
}

.copyright a:visited {
  color: #000;
}

.copyright img {
  margin-left: 0.5rem;
}

.logo {
  height: 4em;
}

@media (max-width: 600px) {
  footer {
    min-height: 0;
    margin-top: 0;
  }
}
