@import 'assets/_calendar.css';
@import 'assets/_detail.css';
@import 'assets/_tags.css';
@import 'assets/_alert.css';

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  margin-top: 60px;
}

a {
  cursor: pointer;
  text-decoration: none;
}

h2,
h3 {
  width: 100%;
}

.tweet_button {
  align-items: center;
  background-color: #1da1f2;
  border-radius: 24px;
  color: #fff;
  display: flex;
  height: 48px;
  justify-content: center;
  margin: auto;
  text-decoration: none;
  width: 273px;
}

.tweet_button:visited {
  color: #fff;
}

.tweet_button:hover {
  opacity: 0.6;
}

.tweet_button .icon_wrapper {
  padding-left: 4px;
}

footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  max-width: 100%;
  padding: 20px 0;
  margin-top: 24px;
}

.footer-text {
  padding: 16px 0 8px;
  margin: auto;
  display: inline-block;
  vertical-align: middle;
}

.copyright {
  font-size: 1.8vmin;
}

.copyright a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  text-decoration: none;
}

.copyright svg {
  width: 80px;
  height: 80px;
}

.copyright a:visited {
  color: #000;
}

.copyright img {
  margin-left: 0.5rem;
}

.logo {
  height: 4em;
}

@media (prefers-color-scheme: dark) {
  .copyright a {
    color: #fff;
  }

  .copyright a:visited {
    color: #fff;
  }
}

@media (max-width: 600px) {
  footer {
    min-height: 0;
    margin-top: 0;
  }
}
