@import 'assets/_calendar.css';
@import 'assets/_detail.css';
@import 'assets/_tags.css';

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  margin-top: 60px;
}

a {
  cursor: pointer;
  text-decoration: none;
}

h2,
h3 {
  width: 100%;
}
